//## Colors

//### Primary

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

//### Body Copy

$size-primary: 15px;

//### Fonts

$font-primary: 'Alata', sans-serif;
$weight-alata: 400;

$font-secondary: 'Josefin Sans', sans-serif;
$weight-josefin: 300;
